.otp-resendbtn{
    button{
        border: none;
        background: transparent;
        padding-inline: 30px;
        padding-block: 10px;
        border-radius: 3px;
        background: transparent;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
    }
}